<div class="relative mb-8 border-l border-border pl-8 before:absolute before:top-0 before:left-0 before:flex before:size-6 before:-translate-x-1/2 before:items-center before:justify-center before:rounded-full before:bg-primary-500 before:font-mono before:text-xs before:text-text-on-brand before:content-[counter(step)]">
  <slot />
</div>
